@import '~bootstrap/scss/bootstrap';
@import './components/_dropdown';
@import './components/_form';
@import './components/_navbar';
@import './components/_table';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #f9f9f9;
}

.heading {
  h2 {
    font-size: 16px;
    font-weight: 300;
    padding: 6px 0;
  }
}